<?xml version="1.0"?>

<launch>

  <arg name="model" default="$(find bluerov_ros_playground)/model/BlueRov2.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find bluerov_ros_playground)/model/model.rviz" />
  
  <node name="rviz" pkg="rviz" type="rviz" required="true"  args="-d $(arg rvizconfig)"/>

  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node>

</launch>


